.chat {
  height: calc(100% - 100px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 20px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #ff0101
  }
}

.message {
  background: #ffffff;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  width: calc(50% - 10px);
  height: inherit;
  word-wrap: break-word;
  font-size: 15px;
  &__author {
    color: #1b81d6;
  }
  &__time {
    color: #999;
  }
  &:after {
    content: ' ';
    display: block;
    z-index: 10;
    background: #ffffff;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    position: absolute;
    width: 15px;
    height: 15px;
    top: calc(50% - 7px);
    left: -10px;
    transform: rotate(45deg);
  }
}

.message2 {
  background: #ffffff;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  position: relative;
  left: 50%;
  box-sizing: border-box;
  width: calc(45% - 10px);
  height: inherit;
  word-wrap: break-word;
  font-size: 15px;
  &__author {
    color: #028509;
  }
  &__time {
    color: #999;
  }
  &:after {
    content: ' ';
    display: block;
    z-index: 10;
    background: #ffffff;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    position: absolute;
    width: 15px;
    height: 15px;
    top: calc(50% - 7px);
    right: -10px;
    transform: rotate(45deg);
  }
}